.body{
    background-color: lightgray;
    height: 100vh;
}
.navbar-main{
    background-color: #a0ccd2;
    border-radius: 0;
    margin-bottom: 0;
}
.project-main{
    height: 100vh;
    padding-top:20px;
    padding-left: 20px;
}
.project-main>.project-block{
    max-width: 150px;
    float: right;
    padding-right: 20px;
    width: 135px;
}
.btn-custom{
    padding: 0;
    font-weight: 600;
    color: grey;
}
.btn-custom:link,.btn-custom:active{
    color: grey;
}
.btn-custom:hover{
    background-color: #a4a4a4;
    color: #212121;
    border-radius: 25px;
    text-decoration: none;
}
.div_project{
    margin-top: 50px;
    padding-left: 2px;
    color:grey;
    text-decoration: underline;
    font-weight: 400;
}
.tasks-block{
    background-color: white;
    height: 100vh;
    padding-top: 20px;
}
.container{
    height: 100%;
}
#list_project{
    margin: 0;
    padding: 0;
}
#list_project li{
    list-style-type: none;
}
.span-project-color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding-top: 5px;
    margin-bottom: 0;
}
.span-priority-color{
    width: 10px;
    height: 10px;
    border: solid 1px;
    padding-top: 5px;
    margin-bottom: 0;
}
.span-task-project-color{
    width: 10px;
    height: 10px;
    border: solid 1px;
    border-radius: 50px;
    padding-top: 5px;
    margin-bottom: 0;
    float: right;
    margin-top: 5px;
    margin-right: 20px;

}
.span-name-project{
    margin-left: 5px;
    color: grey;
    max-width: 120px;

}
.span-count-project{
    margin-left: 5px;
    color: #b0b0b0;
}
.span-task-project-name{
   margin-right: 10px;
    color: #b0b0b0;
    float: right;
    width: auto;
}
#name_task_edit{
    width: 100%;
}
#date_task_edit{
    width: -webkit-fill-available;
}
.toggle-right{
    position: absolute;
    right: 10px;
}
.dropdown-menu{
    min-width: max-content;
}
.span-task-name{
    margin-left: 5px;
    font-weight: 400;
}
.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(../images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(../images/colorpicker_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}
.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}
.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(../images/colorpicker_hex.png) top;
    left: 212px;
    top: 142px;
}
.colorpicker_hex input {
    right: 6px;
}
.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.colorpicker_rgb_r {
    background-image: url(../images/colorpicker_rgb_r.png);
    top: 52px;
    left: 212px;
}
.colorpicker_rgb_g {
    background-image: url(../images/colorpicker_rgb_g.png);
    top: 82px;
    left: 212px;
}
.colorpicker_rgb_b {
    background-image: url(../images/colorpicker_rgb_b.png);
    top: 112px;
    left: 212px;
}
.colorpicker_hsb_h {
    background-image: url(../images/colorpicker_hsb_h.png);
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    background-image: url(../images/colorpicker_hsb_s.png);
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    background-image: url(../images/colorpicker_hsb_b.png);
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../images/colorpicker_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}
.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}

.btm-add-project:hover,.btm-add-project:active,.btm-add-project:link,.btm-add-project{
    color: red;
    padding: 0;
}
.select-color-project{
    position: absolute;
    background-color: #ff0000;
    margin-top: 8px;
    margin-left: 8px;
}
#name_project,#edit_name_project{
    width: 115px;
    padding-left: 25px;

}
.btn-width-50,.btn-width-50:hover{
    margin-top: 5px;
    width: 50%;
    border-radius: 0;
}
.btn-blue{
    background-color: #7b88c6;
    color: white;
}
.dropdown{
    margin-left:5px;
}
#list_tasks{
   padding-left: 0;
}
.span-task-project-name span{
    white-space: nowrap;
}
#list_tasks li{
    list-style-type: none;
    border-bottom: solid 1px;
    padding-top: 5px;
}
.margin-right-none{
    padding-right: 0;
}
.margin-left-none{
    padding-left: 0;
}
#name_task, #date_task{
    width: 100%;
}
.arhive{
    margin-left: 35%;
    /* margin-top: 143px; */
    line-height: 50px;
}
.custom{
    text-align: center;
}
.task-btn{
    width: 50px;
    margin-top: 10px;
}
.smile{
    margin-top: 10px;
    margin-right: 50px;
}
.bolt{
    margin-top: 10px;
    margin-right: 10px;
}
.sel{background-color: #c5c5c5
}
#priority_list li:hover{
    background-color: #c5c5c5;
}
#project_list li:hover{
    background-color: #c5c5c5;
}
.btm-add-task,.btm-add-task:hover{
    color: red;
}
#date_task{
    font-size: 12px;
    height: 26px;
}
.date{
    font-size: 12px;
    color: lightgrey;
}
.warning{
    background-color: #ffdfe4;
    margin-top: 0;
}